

.radius{
   border-radius: 15px 50px;
   width: 200px;
   height: 100px;
   padding: 20px;
   background:url("img/depositphotos_348718618-stock-illustration-abstract-background-texture-geometric-ornamental.jpg");
   background-size:cover;
   margin: 50px;
   border: 2px  solid grey;
   background-clip: padding-box;
   
}
.border-image{
   border: 5px solid transparent;
   padding: 20px;
   border-image: url("img/border.png") 20% stretch;
   width: 500px;

}
.degrade{
   padding: 30px;
   width: 100px;
   height: 100px;
    background-image: linear-gradient(to right, rgba(216, 12, 216, 0.686) , yellow); 
   /* background-image: linear-gradient(to bottom right, rgba(216, 12, 216, 0.686) , yellow); */
   /* background-image: linear-gradient(180deg, rgba(216, 12, 216, 0.686) , yellow);
   background-image: linear-gradient(180deg, rgba(216, 12, 216, 0.686) , rgba(216, 12, 216, 0)); */
   /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
   background-image:radial-gradient(circle, red, yellow, rgb(164, 107, 0));
   background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black); */
   /* background-image: repeating-radial-gradient(red 5%, yellow 15%, green 60%); */
   /* background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, green 180deg, green 270deg, blue 270deg);
   border-radius: 50%; */

}
.text-shadow{
   color: red;
   /* text-shadow: 0px 0px 7px black,0px 0px 10px rgb(255, 0, 0), 0px 0px 13px blue;*/
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} 
.cart{
   background-color: rgb(20, 145, 20);
   width: 200px;
   box-shadow: 5px 5px 10px rgba(4, 4, 11,0.9),  10px 10px 20px rgba(4, 4, 11,0.6);
   text-align: center;
}
.sayi{
   text-align: center;
   padding: 40px;
   border-bottom: 1px solid black;
   color: white;
}
.aciklama{
   background-color: white;
   padding: 20px;
   font-size: 20px;

}
.text{
   white-space: nowrap; 
   border: 1px solid black;
}
